<a href="https://colab.research.google.com/github/mastermindankur/stock-analysis/blob/main/sbi_stock_price_prediction_support_vector_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install bsedata
!pip install quandl

In [9]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.dates as dates
import quandl
%matplotlib inline

In [10]:
# to be ale to view numbers in human readable format 2.058691e+08
pd.set_option('display.float_format', lambda x: '%.3f' % x)
quandl.ApiConfig.api_key = 'izbxGLp_K_zzzUJdN9sp'
sbi =quandl.get('BSE/BOM500112', start_date='2021-06-01', end_date='2021-12-31')
sensex =quandl.get('BSE/SENSEX', start_date='2021-06-01', end_date='2021-12-31')
forwarded=sbi.shift(1)
forwarded=forwarded.rename(columns={'% Deli. Qty to Traded Qty':'previous_day_delivered_qty'})
#forwarded=forwarded.rename(columns={'No. of Shares':'previous_day_no_of_shares'})
#forwarded=forwarded.rename(columns={'No. of Trades':'previous_day_no_of_trades'})
forwarded=forwarded.rename(columns={'Total Turnover':'previous_day_total_turnover'})
# Renaming the columns to avoid duplicate names
sbi=sbi.rename(columns={'Open':'sbi_open'})
sbi=sbi.rename(columns={'High':'sbi_high'})
sensex=sensex.rename(columns={'Open':'sensex_open'})
df=pd.concat([sbi,sensex,forwarded],axis=1)
data=df[['sbi_open','sensex_open','previous_day_delivered_qty','previous_day_total_turnover','sbi_high']]
data

            sbi_open  sensex_open  ...  previous_day_total_turnover  sbi_high
Date                               ...
2021-06-01   426.400    52067.510  ...                          nan   435.200
2021-06-02   431.850    51749.100  ...               1433240052.000   437.900
2021-06-03   437.400    52121.580  ...               1121732631.000   442.000
2021-06-04   437.500    52367.520  ...                777467898.000   441.850
2021-06-07   435.450    52231.380  ...                706218748.000   437.350
...              ...          ...  ...                          ...       ...
2021-12-27   454.000    56948.330  ...                330920177.000   460.500
2021-12-28   460.900    57751.210  ...                196822443.000   462.700
2021-12-29   461.400    57892.310  ...                165347679.000   462.100
2021-12-30   453.300    57755.400  ...                156429735.000   454.850
2021-12-31   454.900    57849.760  ...                257807741.000   461.400

[148 rows x 5 columns]

In [16]:
X = data.iloc[1:, :-1].values
y = data.iloc[1:, -1].values

In [19]:
y = y.reshape(len(y),1)

In [26]:
from sklearn.preprocessing import StandardScaler
sc_X1 = StandardScaler()
sc_X2 = StandardScaler()
sc_X3 = StandardScaler()
sc_X4 = StandardScaler()
sc_X5= StandardScaler()
sc_y = StandardScaler()

In [27]:
X = sc_X.fit_transform()
y = sc_y.fit_transform(y)

TypeError: ignored