<a href="https://colab.research.google.com/github/mastermindankur/stock-analysis/blob/main/stock_high_prediction_multiple_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
!pip install bsedata
!pip install quandl

Requirement already satisfied: bsedata in /usr/local/lib/python3.7/dist-packages (0.5.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from bsedata) (4.2.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from bsedata) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bsedata) (4.6.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->bsedata) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->bsedata) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->bsedata) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->bsedata) (2.10)
Requirement already satisfied: quandl in /usr/local/lib/python3.7/dist-packages (3.7.0)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from quandl) (0.5.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.12.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2021.10.8)

In [44]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.dates as dates
import quandl
%matplotlib inline

In [84]:
# to be ale to view numbers in human readable format 2.058691e+08
pd.set_option('display.float_format', lambda x: '%.3f' % x)
quandl.ApiConfig.api_key = 'izbxGLp_K_zzzUJdN9sp'
sbi =quandl.get('BSE/BOM500112', start_date='2021-01-01', end_date='2021-12-01')
sensex =quandl.get('BSE/SENSEX', start_date='2021-01-01', end_date='2021-12-01')

In [97]:
sbi=sbi.rename(columns={'Open':'sbi_open'})
sbi=sbi.rename(columns={'High':'sbi_high'})
sensex=sensex.rename(columns={'Open':'sensex_open'})
df=pd.concat([sbi,sensex],axis=1)

In [98]:
df

            sbi_open  sbi_high     Low  ...      High       Low     Close
Date                                    ...
2021-01-01   275.000   280.000 274.600  ... 47980.360 47771.150 47868.980
2021-01-04   281.200   283.850 277.950  ... 48220.470 47594.470 48176.800
2021-01-05   278.700   282.400 277.100  ... 48486.240 47903.380 48437.780
2021-01-06   283.450   289.050 281.400  ... 48616.660 47864.140 48174.060
2021-01-07   289.300   291.800 287.000  ... 48558.340 48037.870 48093.320
...              ...       ...     ...  ...       ...       ...       ...
2021-11-25   488.600   495.450 486.500  ... 58901.580 58143.860 58795.090
2021-11-26   486.750   487.600 467.250  ... 58254.790 56993.890 57107.150
2021-11-29   469.800   477.000 454.400  ... 57626.510 56382.930 57260.580
2021-11-30   468.000   477.250 458.150  ... 58183.770 56867.510 57064.870
2021-12-01   464.400   477.200 463.900  ... 57846.450 57346.780 57684.790

[226 rows x 16 columns]

In [105]:
data=df[['sbi_open','sensex_open','sbi_high']]

In [107]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [111]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [112]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [124]:
print(regressor.predict([[461.20,57751.21]]))

[466.54784567]

In [125]:
print(regressor.coef_)
print(regressor.intercept_)

[9.69948021e-01 3.61395147e-04]
-1.6631888279375175

In [128]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_pred, y_test,squared=False)

5.709258772326388

In [113]:
y_pred = regressor.predict(X_test)