<a href="https://colab.research.google.com/github/mastermindankur/stock-analysis/blob/main/stock_high_prediction_multiple_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

http://www.ijesi.org/papers/Vol(7)i10/Version-2/D0710022933.pdf

In [205]:
!pip install bsedata
!pip install quandl

Requirement already satisfied: bsedata in /usr/local/lib/python3.7/dist-packages (0.5.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from bsedata) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from bsedata) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from bsedata) (4.2.6)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->bsedata) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->bsedata) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->bsedata) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->bsedata) (2.10)
Requirement already satisfied: quandl in /usr/local/lib/python3.7/dist-packages (3.7.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.12.0)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from quandl) (0.5.1)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)

In [206]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.dates as dates
import quandl
%matplotlib inline

In [207]:
# to be ale to view numbers in human readable format 2.058691e+08
pd.set_option('display.float_format', lambda x: '%.3f' % x)
quandl.ApiConfig.api_key = 'izbxGLp_K_zzzUJdN9sp'
sbi =quandl.get('BSE/BOM500112', start_date='2021-06-01', end_date='2021-12-26')
sensex =quandl.get('BSE/SENSEX', start_date='2021-06-01', end_date='2021-12-26')

In [208]:
forwarded=sbi.shift(1)
forwarded=forwarded.rename(columns={'% Deli. Qty to Traded Qty':'previous_day_delivered_qty'})
#forwarded=forwarded.rename(columns={'No. of Shares':'previous_day_no_of_shares'})
#forwarded=forwarded.rename(columns={'No. of Trades':'previous_day_no_of_trades'})
forwarded=forwarded.rename(columns={'Total Turnover':'previous_day_total_turnover'})

In [209]:
# Renaming the columns to avoid duplicate names
sbi=sbi.rename(columns={'Open':'sbi_open'})
sbi=sbi.rename(columns={'High':'sbi_high'})
sensex=sensex.rename(columns={'Open':'sensex_open'})

In [210]:
df=pd.concat([sbi,sensex,forwarded],axis=1)

In [211]:
data=df[['sbi_open','sensex_open','previous_day_delivered_qty','previous_day_total_turnover','sbi_high']]

In [212]:
data

            sbi_open  sensex_open  ...  previous_day_total_turnover  sbi_high
Date                               ...
2021-06-01   426.400    52067.510  ...                          nan   435.200
2021-06-02   431.850    51749.100  ...               1433240052.000   437.900
2021-06-03   437.400    52121.580  ...               1121732631.000   442.000
2021-06-04   437.500    52367.520  ...                777467898.000   441.850
2021-06-07   435.450    52231.380  ...                706218748.000   437.350
...              ...          ...  ...                          ...       ...
2021-12-20   459.900    56517.260  ...                396301843.000   463.950
2021-12-21   454.550    56320.020  ...                388774565.000   458.300
2021-12-22   451.700    56599.470  ...                468699163.000   457.350
2021-12-23   461.700    57251.150  ...                186505067.000   465.000
2021-12-24   463.450    57567.110  ...                261377833.000   463.450

[143 rows x 5 columns]

In [213]:
X = data.iloc[1:, :-1].values
y = data.iloc[1:, -1].values

In [214]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [215]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [216]:
print(regressor.coef_)
print(regressor.intercept_)

[ 9.84902345e-01  3.84923564e-04 -5.04025452e-02  1.12081331e-09]
-9.149394073203439

In [217]:
y_pred = regressor.predict(X_test)

In [218]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_pred, y_test,squared=False)

5.0322123726580745

In [219]:
y_pred = regressor.predict(X_test)